@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "Avenir-Book";
        src: url("/fonts/avenir/Avenir-Book.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Regular";
        src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Medium";
        src: url("/fonts/montserrat/Montserrat-Medium.otf") format("opentype");
        font-weight: 500;
        font-style: normal;
    }

    :root {
        --font-avenir-book: "Avenir-Book", sans-serif;
        --font-montserrat-regular: "Montserrat-Regular", sans-serif;
        --font-montserrat-medium: "Montserrat-Medium", sans-serif;
    }
}

@layer utilities {
    .font-avenir-book {
        font-family: var(--font-avenir-book), serif;
    }
    .font-montserrat-regular {
        font-family: var(--font-montserrat-regular), serif;
    }
    .font-montserrat-medium {
        font-family: var(--font-montserrat-medium), serif;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
}
.swiper-scrollbar-drag {
    background: black !important;
}

.swiper-scrollbar {

}